{%extends 'layout/base.html'%}
{%load static%}
{%block title%}Dashboard{%endblock%}
{%block content%}
    <div class="container"  style="margin-top:30px;">
       <div class="row">
           <div class="col-12">
            <h4 class="side-stick">Pending Transactions</h4>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    &times;
                </button>
                <span>
                    <p>You have successfully completed this payment</p>
                    </span>
            </div>
            <div style="background:gold;padding:10px 14px;margin-bottom:20px;border-radius:5px">
                <p>You have completed your payment of &#8358;20,000 and your Return on Investment is  &#8358;30,000, your name will enter the receiving on 26-03-2020.</p>
            </div>
            <div class="toggle">
                <button class="btn btn-danger">Donations</button> &nbsp;<button class="btn btn-outline-danger">Withdrawals</button>
            </div>
            
           </div>
           <!-- CASH DONATIONS -->
           <div class="col-lg-12">
               <p class="info-area">Please make payment before the countdown runs out to avoid getting blocked</p>
               <div class="col-md-4 list">
                    <ul>
                        <li>Account Name: Ugba Kingsley</li>
                        <li>Bank Name: Zenith Bank</li>
                        <li>Account Number: 100234242</li>
                        <li>Amount: &#8358;30,000</li>
                        <li>Time left: </li>
                        <li>Phone: 09069199170 <a href="#">call</a></li>
                    </ul><br>
                    <div class="apply_btn">
                        <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
                    </div>
               </div>

               <div class="col-md-4 list">
                    <ul>
                        <li>Account Name: Ugba Kingsley</li>
                        <li>Bank Name: Zenith Bank</li>
                        <li>Account Number: 100234242</li>
                        <li>Amount: &#8358;30,000</li>
                        <li>Time left: </li>
                        <li>Phone: 09069199170 <a href="#">call</a></li>
                    </ul><br>
                    <div class="apply_btn">
                        <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
                    </div>
                </div>
           <!-- END OF DONATIONS -->

           <!-- BITCOIN DONATIONS -->
           <div class="col-md-4 list">
            <ul>
                <li>Username: Shogsnatural</li>
                <li>Wallet ID: 309409=294905</li>
                <li>Amount:0.00980</li>
                <li>Time left: </li>
                <li>Phone: 09069199170 <a href="#">call</a></li>
            </ul><br>
            <div class="apply_btn">
                <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
            </div>
       </div>

       <div class="col-md-4 list">
        <ul>
            <li>Username: Shogsnatural</li>
            <li>Wallet ID: 309409=294905</li>
            <li>Amount:0.00980</li>
            <li>Time left: </li>
            <li>Phone: 09069199170 <a href="#">call</a></li>
        </ul><br>
        <div class="apply_btn">
            <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
        </div>
   </div>
          <!-- END OF CASH DONATIONS -->

    
           <!-- END OF RECEIVING MONEY -->
           </div>


           <!-- WITHDRAWALS -->
           <div class="col-lg-12">
            <p class="info-area">This user has reserved you and will make payment to you shortly</p>
            <div class="col-md-4 list">
                 <ul>
                     <li>Username: Obus53/li>
                     <li>Amount: &#8358;30,000</li>
                     <li>Time left: </li>
                     <li>Phone: 09069199170 <a href="#">call</a></li>
                 </ul><br>
                 <div class="apply_btn">
                     <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
                 </div>
            </div>

            <div class="col-md-4 list">
                 <ul>
                     <li>Username: Jackson90</li>
                     <li>Amount: &#8358;30,000</li>
                     <li>Time left: </li>
                     <li>Phone: 09069199170 <a href="#">call</a></li>
                 </ul><br>
                 <div class="apply_btn">
                     <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
                 </div>
             </div>
        <!-- END OF CASH WITHDRAWAL -->

        <!-- BITCOIN WITHDRAWAL -->
        <div class="col-md-4 list">
         <ul>
             <li>Username: Shogsnatural</li>
             <li>Wallet ID: 309409=294905</li>
             <li>Amount:0.00980</li>
             <li>Time left: </li>
             <li>Phone: 09069199170 <a href="#">call</a></li>
         </ul><br>
         <div class="apply_btn">
             <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
         </div>
    </div>

    <div class="col-md-4 list">
     <ul>
         <li>Username: Shogsnatural</li>
         <li>Wallet ID: 309409=294905</li>
         <li>Amount:0.00980</li>
         <li>Time left: </li>
         <li>Phone: 09069199170 <a href="#">call</a></li>
     </ul><br>
     <div class="apply_btn">
         <button class="boxed-btn3 btn-block" type="submit">I have paid</button>
     </div>
</div>
       <!-- END OF BITCOIN WITHDRAWAL -->

       <!-- END OF RECEIVING MONEY -->
        </div>
           
       </div> 
           
          
    </div> 
          
{%endblock%}